/* Universal Selectors */
* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #CAEBF2;
}

form input[type=text] {
    width: 150px;
    margin-bottom: 3px;
}

.search {
    background-color: #A9A9A9;
}

.forecast {
    background-color: #EFEFEF;
}

.today-card {
    font-size: 150%;
    background-color: #A9A9A9;
}

.today-header {
    background-color: #CAEBF2;
}

.forecast-card {
    font-size: 80%;
    background-color: #A9A9A9;
}

.forecast-header {
    background-color: #CAEBF2;
}