/* Universal Selectors */
* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: cornflowerblue;
}

.search {
    background-color: lightslategray;
}

.today-card {
    background-color: lightgray;
}

.today-header {
    background-color: skyblue;
}

.forecast-card {
    background-color: lightgray;
}

.forecast-header {
    background-color: skyblue;
}